@font-face
  font-family: 'Gotham Pro Bold'
  src: local('Gotham Pro Bold'),
       url('fonts/GothaProBol.woff') format('woff'),
       url('fonts/GothaProBol.otf') format('opentype')
  font-weight: normal
  font-style: normal
