@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

body
  background-color: #000
  font-family: 'Gotham Pro Bold'

video
  display: block

#video
  display: block
  position: fixed
  right: 0
  bottom: 0
  left: 0
  right: 0
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
  background-color: #000
  background: url('images/background.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

svg
  position: absolute
  height: 100%
  stroke-width: 1px
  stroke: rgba(#fff, 0.3)

  &:nth-child(1)
    top: 0px
    left: 10%

  &:nth-child(2)
    top: 0px
    right: -10%

.content
  display: block
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  animation: fadeIn 5s

  .logo
    position: absolute
    z-index: 10
    top: 50%
    left: 50%
    width: 327px
    height: 99px
    background-image: url('images/logo.png')
    background-size: cover
    margin: -50px auto auto -163px

  .links
    position: absolute
    z-index: 10
    bottom: 0
    width: 100%

  .links-list
    position: absolute
    left: 50%
    bottom: 5px
    display: inline-block
    clearfix()

  ul
    display: inline-block
    padding: 0
    margin: 0
    margin-left: -50%

    li
      float: left
      list-style-type: none
      padding: 0 15px

    a
      color: #fff
      font-size: 11px
      text-decoration: none
      font-weight: 100

@media screen and (max-device-width: 800px)
  body
    background: url('images/background.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

  #video
    display: none
